/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  section {
    padding: 20px;
  }
  
  #left {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: #666;
    width: 33.33%;
    float:left;
    
  }
  
  #middle {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: #888;
    width: 33.33%;
    float:left;
    
  }
  
  #right {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    background: #666;
    width: 33.33%
    float:left;
   
  }
  
  #full {
    clear: both;
    background: #eee;
    overflow: auto;
  }
  
  #division {
    background: #6ea3da;
    padding: 20px;
    margin-top: 20px;
  
  }
  
  aside { width: 500px;
    height: 300px;
    color: rgb(12, 12, 12);
    background: #fff;
    float: left;
    padding: 20px;
  }
  
  footer {
    padding: 20px;
  }
  